/**
 * Créé par Aurélien Caillaud 
 * Pour le conseil départemental du Doubs
 * Licence CC-by-nc-nd 3.0
 */


header {
    height: 40vh;
    text-align: center;
}

#localisation {
    position: relative;
    height: 40vh;
}



ul li {
    list-style-type: none;
}

.result_focus {
    background-color: aqua;
}

#mapid {
    height: 40vh;
}
footer {
    margin-top: 5%;
}